RewriteEngine On
Options +FollowSymlinks
RewriteBase /

RewriteCond   %{REQUEST_FILENAME}       !-d
RewriteCond   %{REQUEST_FILENAME}       !-f
RewriteRule   ^(.*) index.php?%{QUERY_STRING}



# Этот код представляет собой инструкции для конфигурации модуля mod_rewrite веб-сервера Apache. 
# Mod_rewrite предоставляет возможность переопределения URL-адресов, что полезно, например, для создания "человекопонятных" URL-ов.
# И перенаправления запросов на определенные страницы. Вот пояснения для каждой строки:

# RewriteEngine On: Включает модуль mod_rewrite. Это необходимо сделать перед использованием других директив mod_rewrite.

# Options +FollowSymlinks: Разрешает следование символическим ссылкам при переадресации. Это обеспечивает поддержку символических ссылок в переопределениях.

# RewriteBase /: Устанавливает базовый путь для относительных путей в правилах переадресации. В данном случае, базовый путь установлен как корневой каталог ("/").

# RewriteCond %{REQUEST_FILENAME} !-d: Проверяет, что запрошенный файл не является директорией (!-d - отрицание условия, что файл является директорией).

# RewriteCond %{REQUEST_FILENAME} !-f: Проверяет, что запрошенный файл не существует (!-f- отрик

# RewriteRule ^(.*) index.php?%{QUERY_STRING}: Основнойindex.php,%{QUERY_STRING}). Символ '^' в начале шаблона ^(.*)собственный
